{%extends 'master.html'%}
{%block title%}verify transaction{%endblock%}
{%load static%}
{%block content%}
<center><div class="topnav">
<a href="/">HOME</a> | <a href="/accounts">HACKING TOOLS</a> | <a href="#">HACKING FORUM</a>
</div>

<center><h1>Receive your tool to your email box</h1>
<p>Enter the email address where your tool will be sent to.</p></center>
<div class="container">
<form method="POST">
{%csrf_token%}
</div>
<center>
{{form}}
</center>
<div class="mycard">
<button type="submit" value="save"/>Submit</button>
</div>
</form>
{%endblock%}
