{%extends 'master.html'%}
{%block title%}verify transaction{%endblock%}
{%load static%}
{%block content%}
<center><div class="topnav">
<a href="/">HOME</a> | <a href="/accounts">HACKING TOOLS</a> | <a href="#">HACKING FORUM</a>
</div>
    <center>
    <img src="{% static 'kali1.jpeg'%}" height="200" width="300">
    </center>

<center><h1>The Russian Hackers Forum</h1>
<p>
The forum is all about sales of hacking tools and lectures on how to carry out advance penetraction with the aim of defending and preventing cyber attack.</br> Every tool being sold in this platform is well licensed and trademark by the russian center for security and information technology.</br>Note that, we wont be held responsible for any illegal use of tool used for a malicious purposes.

<h1>This are some of the topics treated  in our forum</h1>
    <img src="{%static 'hacking.gif'%}" height="200" width="200"><br><br>
    The ultimate hacking book</br><a href="/accounts/forum/">READ MORE</a></br>
    
    
    <img src="{%static 'android1.png'%}" height="200" width="200"><br><br>
    The Android penetration toolkit guide</br><a href="/accounts/forum/">READ MORE</a></br>
    
<p>All tools in our platform uses signed certificate with a secrete encryption key designed with a military grade system</br> to be unbreakable. Each having a secure tunnelled server.</br>
<h1>Go back home</h1><a href="/">HOME</a></br></br>

</p></center>
{%endblock%}
