{%extends 'master.html'%}
{%block title%}verify transaction{%endblock%}
{%load static%}
{%block content%}
<center><div class="topnav">
<a href="/">HOME</a> | <a href="/accounts">HACKING TOOLS</a> | <a href="#">HACKING FORUM</a>
</div>

<div class="mycard">
<h1>Insufficient Fund!!</h1>
<p>You Dont Have Sufficient Fund To Purchase</p>
<h1>{{order.name}} Hacking Tool</h1>
</div>
<div class="topnav">
<p>Insufficient Fund?: <a href="/accounts/saveform/">Fund Wallet</a></p>
</div>

<p>Read About Us Here?: <a href="/accounts/Email/">ABOUT US</a></p>
<p><a href="/accounts/">Back to store</a></p></br></br>

{%endblock%}
