{%extends 'master.html'%}
{%block title%}verify transaction{%endblock%}
{%load static%}
{%block content%}
<center><div class="topnav">
<a href="/">HOME</a> | <a href="/accounts">HACKING TOOLS</a> | <a href="#">HACKING FORUM</a>
</div>

<div class="mycard">
<h1>Verifying Your Order!!!</h1>
<p>Note that, <h1>{{order.name}}</h1> wont be sent to your email if you dont have enough fund in wallet to purchase it.</br> make sure to submit email where tool will be sent to.</p>
</div>
<div class="topnav">

<p>Submit Your Email Where tool will be sent to?: <a href="/accounts/email/">SUBMIT</a></p>
</div>
<p>Insufficient Fund?: <a href="/accounts/saveform/">Fund Wallet</a></p>
<p><a href="/accounts/">Back to store</a></p></br></br>

{%endblock%}
