{%extends 'master.html'%}
{%block title%}successful{%endblock%}

{%block content%}
<center>
<div class="topnav">
<a href="/">HOME</a> | <a href="/accounts/">HACKING TOOLS</a> | <a href="/accounts/forum">HACKING FORUM</a>
</div></br>
</center>

<center>
<h1>Email submitted Successfully.</h1></br> <p>Tool will be sent after verifying wallet status.</br>Note: you wont receive any email from us if you dont have enough fund in wallet. Thanks</p>

<a href="/">GO BACK TO HOME</a>
</center>

{%endblock%}
