{%extends 'master.html'%}
{%block title%}successful{%endblock%}

{%block content%}
<center>
<div class="topnav">
<a href="/">HOME</a> | <a href="/accounts/">HACKING TOOLS</a> | <a href="/accounts/forum">HACKING FORUM</a>
</div></br>
</center>

<center>
<h1>Form submitted Successfully.</h1></br> <p>Your wallet will be funded after verifying transaction status.</br>Note: You won't be funded if no found transaction linked to the submitted wallet. thankss</p>

<a href="/">GO BACK TO HOME</a>
</center>

{%endblock%}
